/*========Fonts========*/
@import url('https://fonts.googleapis.com/css?family=Lobster|Raleway:300,400,700');

/*========Universals========*/
.lobster-text {
  font-family: 'Lobster', cursive;
}

.raleway-text {
  font-family: 'Raleway', sans-serif;
}

/*============Header=========*/
.navbar-default {
  background-color: transparent;
  border: none;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
  color: #f8512f;
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #fff;
  background-color: rgba(0 , 0, 0, 0.5);
}


/*=========Carousel========*/
.item {
  height: 500px;
  background-size: cover;
  background-position: center;
}

.item .btn-warning {
  background-color: #f8512f;
  border-color: #f8512f;
}

#wood-background {
  background-image: url('../img/wood-2.jpg');
}

#main-logo {
  width: 300px;
  transform: translate(0, 50%);
}

#seating-background {
  background-image: url('../img/restaurant-2.jpg');
}

#farm-background {
  background-image: url('../img/farm-2.jpg');
}
